.choose {
  padding-left: 150px;
  font-size: 20px;
  font-weight: 800;
}

h1 {
  text-align: center;
  font-size: 45px;
}

.create {
  width: 100px;
  height: 25px;
  border: 1px solid;
  float: left;
  text-align: center;
  padding-top: 5px;
}

.preview {
  width: 100px;
  height: 25px;
  border: 1px solid;
  float: left;
  margin-left: 25px;
  text-align: center;
  padding-top: 5px;
}

.export1 {
  width: 100px;
  height: 25px;
  border: 1px solid;
  float: left;
  margin-left: 25px;
  text-align: center;
  padding-top: 5px;
}
