@import "choose.css";

.first {
  clear: both;
  display: none;
}

.color {
  background-color: grey;
}

.addbtn {
  width: 150px;
  height: 25px;
  border: 1px solid black;
  margin-left: 20px;
  margin-top: 100px;
  font-size: 20px;
  text-align: center;
  font-weight: 800;
}

.form {
  margin-top: 50px;
  border: 1px solid black;
  width: 500px;
  height: 200px;
  margin-left:350px;
  position: relative;
}

.form1 {
  margin-top: 170px;
  border: 1px solid black;
  width: 500px;
  height: 200px;
  margin-left:380px;
  position: relative;
}

label {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 800;
}

.input {
  width: 350px;
  height: 20px;
  font-size: 20px;
  margin-top: 25px;
  margin-left: 20px;
  border: 0;
  outline: 0;
  background: transparent;
  border: 1px solid black;
}

select {
  width: 352px;
  margin-top: 15px;
  margin-left: 55px;
  font-size: 20px;
}

.addsubinput {
  width: 150px;
  height: 30px;
  border: 1px solid black;
  margin-top: 15px;
  margin-left: 120px;
  float: left;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  padding-top: 5px;
}

.delete {
  width: 150px;
  height: 30px;
  border: 1px solid black;
  float: left;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  padding-top: 5px;
  position: absolute;
  top: 105px;
  right: 55px;
}

.delete1 {
  width: 150px;
  height: 30px;
  border: 1px solid black;
  float: left;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  padding-top: 5px;
  position: absolute;
  top: 105px;
  right: 55px;
}
